
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  background: white;
  color: yellow;
  padding: 6px 12px 9px 12px;
  font-size: 20px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 100px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: yellow;
  color: #fff;
}

/*--------------------------------------------------------------
HOME
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/back.jpg);
  background-size: cover;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: ;
  }
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo  {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 68px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background:#33FF57;
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace ;
  color:black;
  width: 175px;
  font-size: 24px;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  background: rgb(248, 248, 29);
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  width: 175px;
  font-size: 24px;
}

#hero .btn-services:hover {
  background: none;
  border: 2px solid white;
  color: #fff;
}

/*--------------------------------------------------------------
HOME 2.0.
--------------------------------------------------------------*/
#header {
  background: black;
  padding: 20px 0;
  height: 85px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: black;
}



/*--------------------------------------------------------------
MENU
--------------------------------------------------------------*/
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Raleway', comic sans;
  font-weight: 300;
  font-size: 18px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #33FF57 ;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px red;
}

.nav-menu ul li {
  background: blue;
  border-top: 1px solid yellow;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  color: black;
}

.nav-menu ul ul {
  margin: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: red;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: red;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: red;
}

#mobile-nav ul .menu-item-active {
  color: red;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: black;
}

/*--------------------------------------------------------------
SECTIONS
--------------------------------------------------------------*/
/* COMMON
--------------------------------*/
.section-title {
  font-size: 38px;
  color:  #33FF57;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px black;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: yellow;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* ABOUT US
--------------------------------*/
#about {
  background: white;
  padding: 70px 0;
}

#about .about-content {
  float: left;
  background: #fff;
  text-align: justify;
  width: 550px;
}
#about .infografic {
  float: right;
  background: #fff;
  text-align: justify;
  width: 550px;
}

#about .about-title {
  color: black;
  font-weight: 600;
  font-size: 30px;
}

#about .about-text {
  line-height: 20px;
  color: black;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

/* FORMS
--------------------------------*/
#eventos {
  background: #f6f6f6;
  padding: 30px 0;
}



#eventos .formulario{
text-align: center;
height: 600px;
}

/* TEAM
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 50px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}
#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: cambiarlo;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* CONTACT SECTION
--------------------------------*/
#contact {
  background:white;
  padding: 60px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 33px;
  color: #33FF57;
  -webkit-text-stroke: 1px black;

  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
}

#contact .mapa {
  width: auto;
  height: 340px;
}


#mapa {
  background:white;
  padding: 60px 0;
}

#mapa .info {
  color: #333333;
}

#mapa .info i {
  font-size: 33px;
  color: #33FF57;
  -webkit-text-stroke: 1px black;

  float: left;
}

#mapa .info p {
  padding: 0 0 10px 50px;
}

#mapa .mapa {
  width: auto;
  height: 420px;
}

/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}


